.request-icon {
  width: 3.5rem;
  box-shadow: 10px 10px 5px grey;
}
.message-text{
  font-size: 1.2rem;
  font-weight: 500;
}
.format-text{
font-weight: 500;

}
.connect-button {
  margin-left: 18rem;
  margin-top: 0.5rem;
}