.back {
  background-color: rgb(244, 255, 94);
  height: 9rem;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  border-bottom: 5px solid black;
}
.text{
  font-size: 3rem;
  font-family:fantasy;
  text-align: center;
  margin-left: 6rem;
  text-shadow: 2px 2px #abd12f;
}
.tree{
  margin-left: 3.6rem;
  margin-top: 3.2rem;
}
.door {
  margin-top: 5.6rem;
  margin-left: 1.3rem;
}
.modal-cont{
  border: 3px solid rgb(75, 73, 73);
  border-bottom: 0rem;
}
.xmasModal {
  background-color: rgb(250, 118, 118);
}
.xmasBody{
  background-color: rgb(178, 248, 187);
  border: 3px solid rgb(75, 73, 73);
}
.contact {
  font-size: 1.5rem;
  color: rgb(110, 109, 109);
}
.xmas-font-style {
  font-size: 2.1rem;
  font-weight: 500;
  color: rgb(5, 5, 5);
  
}
.slash{
  font-size: 2.3rem;
  font-weight: 500;
}
.merry-text{
  margin-left: 4rem;
  margin-bottom: 1rem;
}
.technologies {
  font-size: 1.5rem;
  color: rgb(110, 109, 109);
  margin-top: 1rem;
}