.request-row{
  background-color: rgb(173, 245, 227);
  border-radius: 5px;
  border: 2px solid black
}
.action-icons {
  font-size: 1.5rem;
}
.message {
  width: 15rem
}
.request-icon {
  width: 3.5rem;
  box-shadow: 10px 10px 5px grey;
}