.headline {
  width: 13rem;
  border-radius: 5px;
  box-shadow: 2px 4px #6b6b6b;
 
  font-size: 1.5rem;
  font-family: fantasy
}
.neighbours {
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.friendsIcon{
  font-size: 2rem;
}