.request-container {
  width: 10rem;
  height: 13rem;
  margin-top: 5rem;
}

.request-icon {
  width: 4rem;
  border-radius: 10px;
}
.incoming {
  font-size: 3rem;
  width: 4rem;
}
.column {
width: 3rem;
}
.request-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.sender-message{
  width: 18rem
}
.button-placement{
  margin-left: 14rem;
}
.btn-default {
  background-color: white;
  border-color: white;
  font-family:fantasy;
  color: rgb(3, 3, 3);
  box-shadow: 2px 4px #6b6b6b;
  width: 13rem;
  font-size: 1.5rem;
  height: 3rem;
  padding-top: 0.4rem;
  margin-top: 0.1rem;
}
.headline {
  width: 13rem;
  border-radius: 5px;
  box-shadow: 2px 4px #6b6b6b;
  font-size: 1.5rem;
  font-family: fantasy
}